<head>
    <title>Duolingo is a Video Game</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Duolingo is a Video Game
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>2022-09-11</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 3 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
                    
                    <a class="tag" href="/tags/language">language</a>
                
            </td>
        </tr>
    </tbody>
</table>

        
        
<p>
Do you ever wonder what a 2000-day streak on a Duolingo course would be like? You would be imagining that you would be extremely attractive to every single woman and man on the planet with your hyperpolyglot gigachad alpha male tongue.</p>
<p>
But 99.9% of the time, that isn&#39;t the case.</p>
<div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
The Problem with Duolingo
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<p>
A lot of people seem to have the misconception that Duolingo will teach you how to speak a language. Duolingo is a video game. A very addictive one at that. The main issue with Duolingo is that you&#39;re learning how to <em>translate</em> rather than learning how to <em>speak</em> a language.</p>
<p>
This wouldn&#39;t normally be a huge issue if you&#39;re learning a language gramatically closer to English, such as German, but even 2000-day streakers can make occasional grammar mistakes.</p>
<p>
It does, however, get more difficult to use Duolingo to learn distant languages.</p>
<div id="outline-container-headline-2" class="outline-3">
<h3 id="headline-2">
You don&#39;t learn to think in your target language
</h3>
<div id="outline-text-headline-2" class="outline-text-3">
<p>
As you learn a language, you should ask yourself: am I thinking in my target language as I read?  Let&#39;s take this example sentence in Latin.</p>
<blockquote>
<p>Write this in English: Marcus nōn solus habitat.</p>
</blockquote>
<p>
You would normally interpret it in English as:</p>
<blockquote>
<p>Marcus does not live by himself.</p>
</blockquote>
<p>
(Note: I appreciate the effort the people developing the Latin course have put, but the lack of macrons to denote phonemic vowel length is a bit bothersome)</p>
<p>
Because Latin is a highly inflected language, there would be many forms of the same word that would mean different things. The words &#34;habitat&#34; and &#34;habitāre&#34; and &#34;habitō&#34; and &#34;habitāverītis&#34; all mean something about &#34;living&#34;, but they each mean something different when put in context.</p>
<p>
Now if you were prompted to write the same sentence in Latin, you would have trouble trying to decide which inflection to use. Your head is still thinking in English.</p>
<p>
Not only that, but how would you translate &#34;by himself&#34; in Latin? At this point, you&#39;re writing a Latin sentence with English constructions.</p>
<p>
Here&#39;s another example of this problem with German. After passing your first few lessons in German Duolingo, you would know that:</p>
<blockquote>
<p>&#34;Mir geht es gut&#34; = &#34;I am fine&#34;</p>
<p>
&#34;und&#34; = &#34;and&#34;</p>
<p>
&#34;du&#34; = &#34;you&#34;</p>
</blockquote>
<p>
If you wanted to translate &#34;I am fine, and you?&#34; then you would string those phrases together in your head.</p>
<blockquote>
<p>Mir geht es gut, und du?</p>
</blockquote>
<p>
The word &#34;du&#34; (nominative) would be incorrect because it is not in the same grammatical case as &#34;mir&#34; (dative).</p>
<p>
But never in my hundred lessons of Duolingo has this issue been taught. Duolingo only teaches you how to translate </p>
</div>
</div>
</div>
</div>
<div id="outline-container-headline-3" class="outline-2">
<h2 id="headline-3">
What should I use Duolingo for then?
</h2>
<div id="outline-text-headline-3" class="outline-text-2">
<p>
As stated before, Duolingo is a video game. You can learn the basics of a language with it pretty fast. However, please do not rely on Duolingo to achieve fluency.</p>
<p>
And for some languages, it will instead develop nasty translation habits (looking at you, Latin) that would hinder your progress rather than help you grasp a good natural understanding of the language.</p>
<p>
Depending on the language, it&#39;s best that you learn it in context, especially through the <a href="https://en.wikipedia.org/wiki/Direct_method_(education)">direct method</a>.</p>
</div>
</div>

        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/duolingo-is-a-video-game/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
