<head>
    <title>language</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1>
            
                Posts tagged with #language
        </h1>
        
            <div class="post-list">
    
        
<div class="post-item more">
    <h1>
        <a href="/posts/fish-young-argument/">The Fish and Young Argument</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-09-09</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 2 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/english">english</a>
            
                
                <a class="tag" href="/tags/language">language</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            What is the write way to right?
Stanley Fish argues grammar is structure is essential to English composition. He supports the idea that teaching a correct grammar is essential to teaching composition, and all college composition classes should teach the traditional forms of English grammar for academic writing.
He believes that teaching the &#34;proper&#34; form of English isn&#39;t robbing people of whatever dialect of English that they use. Rather, they are learning a new language alongside.
        </p>
        
            <div class="read-more-button">
                <a href="/posts/fish-young-argument/" class="button">
                    <button>
                        Read more
                    </button>
                </a>
            </div>
        
    
</div>

    
</div>

        
    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
