<head>
    <title>Schule</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Schule
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>2022-08-27</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 3 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
                    
                    <a class="tag" href="/tags/school">school</a>
                
                    
                    <a class="tag" href="/tags/education">education</a>
                
            </td>
        </tr>
    </tbody>
</table>

        
        
<p>
You&#39;d always hear the kids say &#34;School is useless because they don&#39;t teach you anything useful, and you can get a job without going to school!&#34;</p>
<p>
I always used to think that was a major coping mechanism people resort to when they get a low test grade. I still do think that, but there is still some truth to it.</p>
<p>
The main reason school exists is for people to become educated, right? However, the education system seems to prioritize numbers over actual learning. I am not saying schools don&#39;t teach useful classes—I actually believe that every core class (mathematics, English, science, social studies) is very useful (not specifically for practical application, but for developing critical thinking).</p>
<p>
The education system has become so competitive and repetitive that it has become more about getting good grades than it is about learning. This takes away from the purpose of school.</p>
<div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
NOOO! YOU MUST TO TAKE HARD CLASSES!1
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<p>
I go to a magnet high school, and many students here seem to obsess over their GPA. I have met students who do not take classes to learn a subject but rather to increase their GPA. Here&#39;s a conversation I had with a classmate at the beginning of the school year:</p>
<p>
&#34;Do you have AP Lit[erature]?&#34;</p>
<p>
&#34;No, I have English 101/102.&#34;</p>
<p>
&#34;With Dr. Iron?&#34;</p>
<p>
&#34;Yeah, so now I have her for two years.&#34;</p>
<p>
&#34;So lucky. I wish I could take 101 or at least she could teach AP Lit. I&#39;m just taking AP Lit for that GPA boost, you know.&#34;</p>
<p>
I have had similar conversations and overheard many others. If students are only taking classes to appear better on their transcripts, then they are expending their happiness and enjoyment in learning for a number. That slight increase will give them only a marginally higher chance of getting into a good school and getting a scholarship.</p>
</div>
</div>
<div id="outline-container-headline-2" class="outline-2">
<h2 id="headline-2">
Never Ending Cycle
</h2>
<div id="outline-text-headline-2" class="outline-text-2">
<center>
<img src="https://cdn.7tv.app/emote/61178e9c25a41a1170572a0b/4x">
</center>
<p>
The competitive school culture has become normalized. Students are told that they need to get into the best schools, so they can get into the best jobs, so they can live in the best places. As more students get higher GPAs, it raises the average, and now to be above the curve, you must work even more.</p>
<p>
This becomes a cycle, and it continues until students no longer have any interests or hobbies outside of school. To put it in better words, here&#39;s what my friend has told me: &#34;In an ideal world, the purpose of academia would be to help one discover and advance their interests and hobbies. Instead, the way education is structured forces students to participate in what can only be described as a rat race.&#34;</p>
</div>
</div>

        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/schule/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
