<head>
    <title>Images</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1 class="MUGA">
            Images
        </h1>
        
            <table class="info">
    <tbody>
        <tr class="info-date">
            <td><i class="bi bi-clock"></i></td>
            <td>2022-10-22</td>
        </tr>
        <tr class="info-reading-time">
            <td><i class="bi bi-hourglass"></i></td>
            <td>Reading time 1 min.</td>
        </tr>
        <tr class="info-tags">
            <td><i class="bi bi-tags"></i></td>
            <td>
                
                    
                    <a class="tag" href="/tags/misc">misc</a>
                
            </td>
        </tr>
    </tbody>
</table>

        
        <div id="outline-container-headline-1" class="outline-2">
<h2 id="headline-1">
Boat
</h2>
<div id="outline-text-headline-1" class="outline-text-2">
<img src="/assets/boat.jpg" alt="../assets/boat.jpg" title="../assets/boat.jpg"/>
</div>
</div>
<div id="outline-container-headline-2" class="outline-2">
<h2 id="headline-2">
Kitchenware
</h2>
<div id="outline-text-headline-2" class="outline-text-2">
<img src="/assets/kitchenware.png" alt="../assets/kitchenware.png" title="../assets/kitchenware.png"/>
</div>
</div>
<div id="outline-container-headline-3" class="outline-2">
<h2 id="headline-3">
Hic sunt dracones
</h2>
<div id="outline-text-headline-3" class="outline-text-2">
<img src="/assets/hic-sunt-dracones.png" alt="../assets/hic-sunt-dracones.png" title="../assets/hic-sunt-dracones.png"/>
</div>
</div>
<div id="outline-container-headline-4" class="outline-2">
<h2 id="headline-4">
Forsen&#39;s streaming setup
</h2>
<div id="outline-text-headline-4" class="outline-text-2">
<img src="/assets/forsen-streaming-setup.png" alt="../assets/forsen-streaming-setup.png" title="../assets/forsen-streaming-setup.png"/>
</div>
</div>
<div id="outline-container-headline-5" class="outline-2">
<h2 id="headline-5">
Hair
</h2>
<div id="outline-text-headline-5" class="outline-text-2">
<img src="/assets/hairE.png" alt="../assets/hairE.png" title="../assets/hairE.png"/>
</div>
</div>
<div id="outline-container-headline-6" class="outline-2">
<h2 id="headline-6">
Salad
</h2>
<div id="outline-text-headline-6" class="outline-text-2">
<img src="/assets/salad.png" alt="../assets/salad.png" title="../assets/salad.png"/>
</div>
</div>
<div id="outline-container-headline-7" class="outline-2">
<h2 id="headline-7">
Bowl of grapes
</h2>
<div id="outline-text-headline-7" class="outline-text-2">
<img src="/assets/bowl-of-grapes.png" alt="../assets/bowl-of-grapes.png" title="../assets/bowl-of-grapes.png"/>
</div>
</div>
        <h2 id="comments">Comments</h2>
        <div id="remark42">
</div>
<script>
 var remark_config = {
     host: "https://remark.sandvich.xyz",
     site_id: "sandvich",
     url: "https://sandvich.xyz/posts/images/",
     locale: "en",
     
 };

 (function(c) {
     for(var i = 0; i < c.length; i++){
         var d = document, s = d.createElement('script');
         s.src = remark_config.host + '/web/' + c[i] +'.js';
         s.defer = true;
         (d.head || d.body).appendChild(s);
     }
 })(remark_config.components || ['embed']);
</script>

        <div id="footer">
    <hr>
     <center>
         who is he talking to <img src="/LULE.png" style="vertical-align: middle;">
     </center>
</div>

    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
