<head>
    <title>misc</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/info.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/post-list.css">
    <link rel="stylesheet" href="/css/links.css">
    
    <meta charset="UTF-8"/>
</head>

<nav class="navbar">
    
    <a href="/">Home</a>
    <a href="/posts">Posts</a>
    <a href="/tools">Tools</a>
    <a href="/tags">Tags</a>
    <a href="/contact">Contact</a>
    <a href="https://notes.sandvich.xyz">notes.sandvich.xyz</a>
</nav>

<div class="root">
    <div class="content">
        <h1>
            
                Posts tagged with #misc
        </h1>
        
            <div class="post-list">
    
        
<div class="post-item">
    <h1>
        <a href="/posts/comments/">Comments</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2023-07-04</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            If you&rsquo;re wondering why there are no comments or why it is broken, I temporarily disconnected my Raspberry Pi which is hosting the Remark42 server with all the comments.
It will be back probably Friday, shirley 
        </p>
        
    
</div>

    
        
<div class="post-item">
    <h1>
        <a href="/posts/hot-take/">Hot Take</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-11-04</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            Using Chrome in the year of Our Lord 2022 should both be a crime and a punishment
        </p>
        
    
</div>

    
        
<div class="post-item">
    <h1>
        <a href="/posts/redesign/">Redesign</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-10-31</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
        <p>
            <p>
Site has been redesigned to look more simple in terms of colors. More attractive and normandie friendly.</p>
        </p>
        
    
</div>

    
        
<div class="post-item more">
    <h1>
        <a href="/posts/images/">Images</a>
    </h1>
    
        <div class="info info-small">
    <span class="info-date">
        <i class="bi bi-clock"></i>
        <span>2022-10-22</span>
    </span>
    <span class="info-reading-time">
        <i class="bi bi-hourglass"></i>
        <span>Reading time 1 min.</span>
    </span>
    <span class="info-tags">
        <i class="bi bi-tags"></i>
        <span>
            
                
                <a class="tag" href="/tags/misc">misc</a>
            
        </span>
    </span>
</div>

    
    
</div>

    
</div>

        
    </div>
</div>
<ul class="shortlist links">
    <li>
    <a href="https://github.com/humanoidsandvichdispenser">
        <i class="bi bi-github"></i>
        <span class="more">
            HumanoidSandvichDispenser
        </span>
    </a>
</li>
<li>
    <a href="mailto:humanoidsandvichdispenser@gmail.com">
        <i class="bi bi-envelope-fill"></i>
        <span class="more">
            humanoidsandvichdispenser@gmail.com
        </span>
    </a>
</li>
<li>
    <a href="/sandvich.gpg">
        <i class="bi bi-key-fill"></i>
        <span class="more">
            Encrypt mail with GPG key
        </span>
    </a>
</li>
<li>
    <a href="/posts/index.xml">
        <i class="bi bi-rss-fill"></i>
        <span class="more">
            RSS Feed (posts only)
        </span>
    </a>
</li>

</ul>
